/*  card dedsign  */
.card-style{
    background-color: #faebd7;
    box-shadow: 10px 5px 5px gray;
    border: 1px solid gainsboro;
    border-radius: 10px;
   

}
/* card animation  */
.details-card:hover{
  border: 3px solid rgb(252, 208, 11);
}
/* name design  */
.card-value{
    color: orangered;
    font-weight: bold;
    font-size: 25px;
}